<body>

	<div id="topbar"></div>

	<div id="intro">	
	
		<nav>
			<ul>
				<li><a href="#service-menu">Services</a></li>
				<li><a href="#work-menu">Portfolio</a></li>
				<li><a href="#intro"><span class="logo"><span class="logotext"></span></span></a></li>
				<li><a href="#about-menu">About</a></li>
				<li><a href="#contact-menu">Contact</a></li>
			</ul>
		</nav>
	
		<div class="title">
			<span class="title_line"></span><span class="cursive">Hello</span><span class="title_line"></span>
			<h1>
				<span class="small">MY NAME IS</span><br />
				JOSHUA MILES VALDEZ<br />
				<span class="small">I AM A SOFTWARE CONSULTANT</span>
			</h1>
			
		</div> <!-- end title -->
		
	</div> <!-- end intro -->
