<div id="work-menu"></div> <!-- nav bar anchor -->
<div class="jagged"></div>
<div class="separator"></div>
<div class="jagged_bottom"></div>

<div class="clear"></div>

<div id="work">
    <div class="container">
        <div class="sixteen columns">
            <h2>PORTFOLIO</h2>
            <p>Below I've highlighted a few of the software projects I particularly enjoyed. Each project presented new challenges, giving me a breadth of programming experience. I can apply the same tenacity to your project. Together we can achieve your product vision!</p>
        </div> <!-- end sixteen columns -->
        
        <div class="clear"></div>
        
        <div class="gallery">
        
            <div class="one-third column">
                <a href="{{ url_for('static', filename='img/topologies.png') }}" class="single_image"><img src="{{ url_for('static', filename='img/topologies_thumbnail.png') }}" alt="" class="scale-with-grid" /></a>
                <p class="proj_name">MPTCP Wireless Performance</p>
                <p class="proj_type">Networking, Systems, Python</p>
            </div> <!-- end one-third column -->
        
            <div class="one-third column">
                <a href="{{ url_for('static', filename='img/american_mind.png') }}" class="single_image"><img src="{{ url_for('static', filename='img/american_mind_thumbnail.png') }}" alt="" class="scale-with-grid" /></a>
                <p class="proj_name">The American Political Mind</p>
                <p class="proj_type">Visualization, HTML/CSS, JavaScript, D3</p>
            </div> <!-- end one-third column -->
            
            <div class="one-third column">
                <a href="{{ url_for('static', filename='img/WelloSplashpage.jpg') }}" class="single_image"><img src="{{ url_for('static', filename='img/WelloSplashpage_thumbnail.png') }}" alt="" class="scale-with-grid" /></a>
                <p class="proj_name">Wello Fitness Company</p>
                <p class="proj_type">Project Management, Devops, Architecture</p>
            </div> <!-- end one-third column -->
            
        </div> <!-- end gallery -->
        
        <div class="clear"></div>
        
        <div class="gallery">
        
            <div class="one-third column">
                <a href="{{ url_for('static', filename='img/video_phone.png') }}" class="single_image"><img src="{{ url_for('static', filename='img/video_phone_thumbnail.png') }}" alt="" class="scale-with-grid" /></a>
                <p class="proj_name">Verbling</p>
                <p class="proj_type">Video Conferencing, HTML/CSS</p>
            </div> <!-- end one-third column -->
        
            <div class="one-third column">
                <a href="{{ url_for('static', filename='img/picu_vis.png') }}" class="single_image"><img src="{{ url_for('static', filename='img/picu_vis_thumbnail.png') }}" alt="" class="scale-with-grid" /></a>
                <p class="proj_name">Patient Data Visualization</p>
                <p class="proj_type">Visualization, HTML/CSS, JavaScript, D3</p>
            </div> <!-- end one-third column -->
            
            <div class="one-third column">
                <a href="{{ url_for('static', filename='img/evil_hangman.png') }}" class="single_image"><img src="{{ url_for('static', filename='img/evil_hangman_thumbnail.png') }}" alt="" class="scale-with-grid" /></a>
                <p class="proj_name">Evil Hangman CLI Video Game</p>
                <p class="proj_type">C++</p>
            </div> <!-- end one-third column -->
        
        </div> <!-- end gallery -->
        
        <div class="clear"></div>

    </div> <!-- end container -->
</div> <!-- end work -->
