<div id="service-menu"></div> <!-- nav bar anchor -->

<div class="jagged_bottom"></div>

<div id="services">
    <div class="container">
    
        <div class="sixteen columns">
            <h2>SERVICES</h2>
            <p>I've written many programs from iOS apps to calculator games. This flexibility ensures I can tackle a variety of software and project management challenges. Particularly I specialize in the following services.</p>
        </div> <!-- end sixteen columns -->
        
        <div class="one-third column">
            <div class="serv_bg"></div>
            <div class="serv_icon">
                <div class="serv_icon1"></div>
                <h3>ARCHITECTURE</h3>
                <p>I can help you determine your overall project needs to meet your product vision. I'm familiar with agile and can integrate tools like Pivotal Tracker into your workflow to optimize productivity.</p>
            </div> <!-- end serv_icon -->
        </div> <!-- end one-third column -->
        
        <div class="one-third column">
            <div class="serv_bg"></div>
            <div class="serv_icon">
                <div class="serv_icon2"></div>
                <h3>BACKEND</h3>
                <p>Backend problems are tough and complex. I can shed light on best practices to provide you with a fault-tolerant and scalable backend solution.</p>
            </div> <!-- end serv_icon -->
        </div> <!-- end one-third column -->
        
        <div class="one-third column">
            <div class="serv_bg"></div>
            <div class="serv_icon">
                <div class="serv_icon3"></div>
                <h3>DEVOPS</h3>
                <p>Fast deployment is essential for modern software applications. I can streamline your deployments with custom scripts to ensure seamless site updates and cloud service flexibilty.</p>
            </div> <!-- end serv_icon -->
        </div> <!-- end one-third column -->
        
        <div class="sixteen columns"><div class="div_line"></div></div>
        
        <div class="one-third column">
            <div class="more_services">
                <h4>MORE SERVICES</h4>
                <ul>
                    <li><p>Project Management</p></li>
                    <li><p>Systems</p></li>
                    <li><p>Networking</p></li>
                    <li><p>Databases</p></li>
                </ul>
            </div> <!-- end more services -->
        </div> <!-- end one-third column -->
        
        <div class="one-third column">
            <div class="more_services2">
                <ul>
                    <li><p>Frontend</p></li>
                    <li><p>Mobile</p></li>
                    <li><p>Data visualization</p></li>
                    <li><p>Agile coaching</p></li>
                </ul>
            </div> <!-- end more services -->
        </div> <!-- end one-third column -->
        
        <div class="one-third column">
            <div class="text_box">
                <p>All courses of action are risky, so prudence is not in avoiding danger (it’s impossible), but calculating risk and acting decisively. Make mistakes of ambition and not mistakes of sloth. Develop the strength to do bold things, not the strength to suffer. - Niccolo Machiavelli, The Prince</p>
            </div> <!-- end text_box -->
        </div> <!-- end one-third column -->
        
        
    </div> <!-- end container -->
</div> <!-- end services -->
