<div class="jagged"></div>
<div class="separator"></div>
<div class="jagged_bottom"></div>


<div id="about">
    <div class="container">
        <div class="sixteen columns">
            <h2>ABOUT</h2>
            <p>My name is Joshua Miles Valdez. I am a software engineer and currently a senior studying computer science at Stanford University.</p>
        </div> <!-- end sixteen columns -->
        
        <div class="twelve columns">
            <h5>Who Am I?</h5>
            <p>I'm a cyclist, a developer, an avid reader, an entrepreneur, a student and a lover of bespoke coffee roasts. I ride Specialized bikes, program primarliy in Python, enjoy Kierkegaard and love Four Barrel Coffee.</p>
        </div> <!-- end twelve columns -->
        
        <div class="four columns">
            <div class="social">
                <ul>
                    <li><a target="_blank" href="http://www.linkedin.com/in/jmvldz"><div class="linkedin"></div> Linkedin</a></li>
                    <li><a target="_blank" href="https://twitter.com/jmvldz"><div class="twitter"></div> Twitter</a></li>
                    <li><a target="_blank" href="http://zerp.ly/jmvldz"><div class="zerply"></div> Zerply</a></li>
                </ul>
            </div>
        </div> <!-- end four columns -->
        
        <div class="sixteen columns">
            <div class="skills">
                <h5>Skills</h5>
                <div class="skill_bg"><div class="skill1 skill_hover"></div></div>
                <p>Python</p>
                <div class="skill_bg"><div class="skill4 skill_hover"></div></div>
                <p>C</p>
                <div class="skill_bg"><div class="skill3 skill_hover"></div></div>
                <p>Fabric</p>
                <div class="skill_bg"><div class="skill2 skill_hover"></div></div>
                <p>Django</p>
                <div class="skill_bg"><div class="skill5 skill_hover"></div></div>
                <p>C++</p>
                <div class="skill_bg"><div class="skill7 skill_hover"></div></div>
                <p>Java</p>
                <div class="skill_bg"><div class="skill8 skill_hover"></div></div>
                <p>Javascript</p>
                <div class="skill_bg"><div class="skill6 skill_hover"></div></div>
                <p>Ruby</p>
            </div> <!-- end skills -->
        </div> <!-- end sixteen columns -->
        
    </div> <!-- end container -->
</div> <!-- end about -->
