<div id="about-menu"></div> <!-- nav bar anchor -->
<div class="jagged"></div>
<div class="separator"></div>
<div class="jagged_bottom"></div>


<div id="about">
    <div class="container">
        <div class="sixteen columns">
            <h2>ABOUT</h2>
            <p>I work by a few, vital golden rules. Always in a small team. Keeping a low profile. Dealing only with people who come recommended. Software's like selling anything else: washing machines, hand made shoes, blowjobs. As long as you don't take the piss people will always come back for more. Never be too greedy.  </p>
        </div> <!-- end sixteen columns -->
        
        <div class="twelve columns">
            <h5>Who Am I?</h5>
            <p>The plans you refer to will soon be back in our hands. Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force. Don't act so surprised, Your Highness. You weren't on any mercy mission this time.</p>
            <p>Several transmissions were beamed to this ship by Rebel spies. I want to know what happened to the plans they sent you. Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid. I'm in it for the money.</p>
            <p>The ability to destroy a planet is insignificant next to the power of the Force.  Look, I ain't in this for your revolution, and I'm not in it for you, Princess. I expect to be well paid.</p>
        </div> <!-- end twelve columns -->
        
        <div class="four columns">
            <div class="social">
                <ul>
                    <li><a href="http://www.linkedin.com/in/jmvldz"><div class="linkedin"></div> Linkedin</a></li>
                    <li><a href="https://twitter.com/jmvldz"><div class="twitter"></div> Twitter</a></li>
                    <li><a href="http://zerp.ly/jmvldz"><div class="zerply"></div> Zerply</a></li>
                </ul>
            </div>
        </div> <!-- end four columns -->
        
        <div class="sixteen columns">
            <div class="skills">
                <h5>Skills</h5>
                <div class="skill_bg"><div class="skill1 skill_hover"></div></div>
                <p>Javascript</p>
                <div class="skill_bg"><div class="skill2 skill_hover"></div></div>
                <p>Wordpress</p>
                <div class="skill_bg"><div class="skill3 skill_hover"></div></div>
                <p>Photoshop</p>
                <div class="skill_bg"><div class="skill4 skill_hover"></div></div>
                <p>HTML/CSS</p>
            </div> <!-- end skills -->
        </div> <!-- end sixteen columns -->
        
    </div> <!-- end container -->
</div> <!-- end about -->
