{% include 'header.html' %}

<body>

    <div id="topbar"></div>

    <div id="intro">

        <nav>
            <ul>
                <li><a href="#intro"><span class="logo"><span class="logotext">J</span></span></a></li>
            </ul>
        </nav>

        <div class="title">
            <span class="title_line"></span><span class="cursive">Hello {{ client.name }},</span><span class="title_line"></span>
            <h1>
                <span class="small">YOUR TOTAL IS</span><br />
                ${{ client.amount }}<br />

                <form action="/charge" method="post">
                    <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                        data-key="{{ key }}"
                        data-description="{{ client.description }}"
                        data-amount="{{ client.cents }}">
                    </script>
                </form>
            <h1>

        </div> <!-- end title -->

    </div> <!-- end intro -->

<!-- End Document
================================================== -->
</body>
