<div class="jagged_bottom"></div>	
<div class="cover_bar"></div>
<div class="nav_bg" id="services-menu"></div> <!-- nav bar anchor -->

<div id="services">
    <div class="container">
    
        <div class="sixteen columns">
            <h2>SERVICES</h2> 
            <p>Remember, a Jedi can feel the Force flowing through him. But with the blast shield down, I can't even see! How am I supposed to fight? I can't get involved! I've got work to do!</p>
        </div> <!-- end sixteen columns -->
        
        <div class="one-third column">
            <div class="serv_bg"></div>
            <div class="serv_icon">
                <div class="serv_icon1"></div>
                <h3>ARCHITECTURE</h3>
                <p>I suggest you try it again, Luke. This time, let go your conscious self and act on instinct. I've got to go home. It's late, I'm in for it as it is. The last time I felt it was in the presence of my old master.</p>
            </div> <!-- end serv_icon -->
        </div> <!-- end one-third column -->
        
        <div class="one-third column">
            <div class="serv_bg"></div>
            <div class="serv_icon">
                <div class="serv_icon2"></div>
                <h3>BACKEND</h3>
                <p>I suggest you try it again, Luke. This time, let go your conscious self and act on instinct. I've got to go home. It's late, I'm in for it as it is. The last time I felt it was in the presence of my old master.</p>
            </div> <!-- end serv_icon -->
        </div> <!-- end one-third column -->
        
        <div class="one-third column">
            <div class="serv_bg"></div>
            <div class="serv_icon">
                <div class="serv_icon3"></div>
                <h3>DEPLOYMENT</h3>
                <p>I suggest you try it again, Luke. This time, let go your conscious self and act on instinct. I've got to go home. It's late, I'm in for it as it is. The last time I felt it was in the presence of my old master.</p>
            </div> <!-- end serv_icon -->
        </div> <!-- end one-third column -->
        
        <div class="sixteen columns"><div class="div_line"></div></div>
        
        <div class="one-third column">
            <div class="more_services">
                <h4>MORE SERVICES</h4>
                <ul>
                    <li><p>Web design</p></li>
                    <li><p>Web development</p></li>
                    <li><p>Search engine optimization</p></li>
                    <li><p>Mobile / Responsive</p></li>
                </ul>
            </div> <!-- end more services -->
        </div> <!-- end one-third column -->
        
        <div class="one-third column">
            <div class="more_services2">
                <ul>
                    <li><p>Web design</p></li>
                    <li><p>Web development</p></li>
                    <li><p>Search engine optimization</p></li>
                    <li><p>Mobile / Responsive</p></li>
                </ul>
            </div> <!-- end more services -->
        </div> <!-- end one-third column -->
        
        <div class="one-third column">
            <div class="text_box">
                <p>You're born, you take shit. You get out in the world, you take more shit. You climb a little higher, you take less shit. Till one day you're up in the rarefied atmosphere and you've forgotten what shit even looks like. Welcome to the layer cake son ... </p>
            </div> <!-- end text_box -->
        </div> <!-- end one-third column -->
        
        
    </div> <!-- end container -->
</div> <!-- end services -->
