<div id="work-menu"></div> <!-- nav bar anchor -->
<div class="jagged"></div>
<div class="separator"></div>
<div class="jagged_bottom"></div>


<div class="clear"></div>


<div id="work">
    <div class="container">
        <div class="sixteen columns">
            <h2>WORK</h2>
            <p>Remember, a Jedi can feel the Force flowing through him. But with the blast shield down, I can't even see! How am I supposed to fight? I can't get involved! I've got work to do!</p>
        </div> <!-- end sixteen columns -->
        
        <div class="clear"></div>
        
        <div class="gallery">
        
            <div class="one-third column">
                <a href="{{ url_for('static', filename='images/example_img.png') }}" class="single_image"><img src="{{ url_for('static', filename='images/thumb1.jpg') }}" alt="" class="scale-with-grid" /></a>
                <p class="proj_name">Project Name</p>
                <p class="proj_type">Design / HTML</p>
            </div> <!-- end one-third column -->
        
            <div class="one-third column">
                <a href="{{ url_for('static', filename='images/example_img.png') }}" class="single_image"><img src="{{ url_for('static', filename='images/thumb2.jpg') }}" alt="" class="scale-with-grid" /></a>
                <p class="proj_name">Project Name</p>
                <p class="proj_type">Design / HTML</p>
            </div> <!-- end one-third column -->
            
            <div class="one-third column">
                <a href="{{ url_for('static', filename='images/example_img.png') }}" class="single_image"><img src="{{ url_for('static', filename='images/thumb3.jpg') }}" alt="" class="scale-with-grid" /></a>
                <p class="proj_name">Project Name</p>
                <p class="proj_type">Design / HTML</p>
            </div> <!-- end one-third column -->
            
        </div> <!-- end gallery -->
        
        <div class="clear"></div>
        
        <div class="gallery">
        
            <div class="one-third column">
                <a href="{{ url_for('static', filename='images/example_img.png') }}" class="single_image"><img src="{{ url_for('static', filename='images/thumb4.jpg') }}" alt="" class="scale-with-grid" /></a>
                <p class="proj_name">Project Name</p>
                <p class="proj_type">Design / HTML</p>
            </div> <!-- end one-third column -->
        
            <div class="one-third column">
                <a href="{{ url_for('static', filename='images/example_img.png') }}" class="single_image"><img src="{{ url_for('static', filename='images/thumb5.png') }}" alt="" class="scale-with-grid" /></a>
                <p class="proj_name">Project Name</p>
                <p class="proj_type">Design / HTML</p>
            </div> <!-- end one-third column -->
            
            <div class="one-third column">
                <a href="{{ url_for('static', filename='images/example_img.png') }}" class="single_image"><img src="{{ url_for('static', filename='images/thumb6.jpg') }}" alt="" class="scale-with-grid" /></a>
                <p class="proj_name">Project Name</p>
                <p class="proj_type">Design / HTML</p>
            </div> <!-- end one-third column -->
        
        </div> <!-- end gallery -->
        
        <div class="clear"></div>

    </div> <!-- end container -->
</div> <!-- end work -->
